#accueil {
    height: 38em;
    padding-top: 22em;
    padding-left: 12em;
    text-align: left;
}

#accueil h1 {
    font-size: 3.5em;
    margin-bottom: 20px;
    color: #ffffff;
}

#accueil p {
    font-size: 1.5em;
    color: #ffffff;
}

#accueil #accroche {
    font-size: 1.2em;
    color: #ffffff;
    margin-top: 10px;
}

#accueil img {
    margin-left: 55em;
    width: 35%;
    height: auto;
    margin-top: -20em;
    border-radius: 10em;
}