#formation {
  min-height: 60vh;
  height: 60vh;
  margin-bottom: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 8vw;
  gap: 3em;
  text-align: left;
  box-sizing: border-box;
  position: relative;
}

#formation-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: 1;
  min-width: 300px;
  max-width: 600px;
  position: relative;
  height: auto;
}

#formation .contenu-formation {
  display: flex;
  left: 25%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  position: relative;
  height: auto;
}

#formation h3 {
  font-size: 1.8em;
  color: #31bd9e;
  text-align: center;
  margin-top: 1em;
}

#formation h2 {
  position: relative;
  top: -30vh;
  left: -15%;
  margin: 0;
  font-size: 2.5em;
  color: #ffffff;
  text-align: center;
  width: 100%;
}

#formation p {
  position: relative;
  top: -30vh;
  left: -15%;
  margin: 0;
  font-size: 1.5em;
  text-align: center;
  width: 100%;
}

.experience-professionnelle {
  position: absolute;
  right: 44.5vh;
  text-align: center;
  width: 100%;
  top: 11vh;
}

.parcours-scolaire {
  position: absolute;
  left: 45vh;
  text-align: left;
  width: 100%;
  top: 11vh;
}

.contenu-parcours-scolaire {
  position: absolute;
  top: 90%;
  left: 75%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  color: #f3f18d;
  width: auto;
  z-index: 999;
}


.barre {
  position: absolute;
  top: 0;
  bottom: -50%;
  width: 4px;
  background-color: white;
}

.barre {
  position: absolute;
  top: 40%;
  left: 53%;
}

.barre .point {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  background-color: rgb(0, 255, 136);
  border-radius: 50%;
  z-index: 2;
}

.contenu-formation {
  width: 60%;
  color: white;
  text-align: center;
  z-index: 1;
}