html, body {
  overflow-x: hidden; /* Empêche le scroll horizontal */
}

#formation {
  min-height: 60vh;
  height: 60vh;
  margin-bottom: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 8vw;
  gap: 3em;
  text-align: left;
  box-sizing: border-box;
  position: relative;
}

#formation-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: 1;
  min-width: 300px;
  max-width: 600px;
  position: relative;
  height: auto;
}

#formation .contenu-formation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  position: relative;
  height: auto;
}

#formation h3 {
  font-size: 1.8em;
  color: #59006b;
  text-align: center;
  margin-top: 1em;
}

#formation h2 {
  position: relative;
  top: -30vh;
  left: 0;
  margin: 0;
  font-size: 2.5em;
  color: #ffffff;
  text-align: center;
  width: 100%;
}

#formation p {
  position: relative;
  top: -30vh;
  left: 0;
  margin: 0;
  font-size: 1.5em;
  text-align: center;
  width: 100%;
}

.experience-professionnelle {
  position: absolute;
  left: 0;
  text-align: center;
  width: auto;
  top: 6vh;
}

.parcours-scolaire {
  position: absolute;
  right: 0;
  text-align: left;
  width: auto;
  top: 6vh;
}

.contenu-parcours-scolaire {
  position: absolute;
  top: 30%;
  left: 62%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  color: #ffffff;
  width: auto;
  z-index: 999;
}

.barre {
  position: absolute;
  top: 30%;
  bottom: -30%;
  width: 4px;
  background-color: rgb(0, 50, 90);
}

.barre .point {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  background-color: rgb(0, 218, 189);
  border-radius: 50%;
  z-index: 2;
}

.contenu-formation {
  width: 60%;
  color: white;
  text-align: center;
  z-index: 1;
}
