#presentation {
    background: linear-gradient(to right, #00000000, #1b004ead, #00000000);
    margin-left: auto;
    margin-right: auto;
    min-height: 40%;
    margin-bottom: 8.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 8vw;
    gap: 3em;
    text-align: center;
    box-sizing: border-box;
}

.presentation-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    min-width: 300px;
    max-width: 600px;
    height: auto;
}

#presentation h2 {
    font-size: 2.5em;
    color: #ffffff;
    margin-bottom: 0.5em;
    position: static;
}

#presentation p {
    font-size: 1.3em;
    color: #aaaaaa;
    margin: 0 0 1.5em 0;
    text-align: center;
    max-width: 35em;
}

#presentation img {
    flex: 0 0 auto;
    max-width: 320px;
    width: 10%;
    height: auto;
    border-radius: 50%;
    display: block;
}

@media (max-width: 1200px) {
  #presentation {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2em;
    padding: -2em 2vw;
    min-height: 10vh;
  }
  .presentation-content {
    align-items: center;
    text-align: center;
  }
  #presentation img {
    margin: 2em auto 0 auto;
    max-width: 60vw;
    width: 180px;
    border-radius: 8em;
    display: block;
  }
}
