#topbar {
    user-select: none;
    position: fixed;
    left: -0.1vh;
    width: 100%;
    height: 85px;
    background: transparent;
    color: #242423;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2em;
    transition: top 0.3s, background 0.3s, box-shadow 0.3s, backdrop-filter 0.3s;
    z-index: 1000;
    backdrop-filter: none;
    box-shadow: none;
}

#topbar.topbar-blur {
    border: 1px solid rgba(255, 255, 255, 0.301);
    background: rgba(9, 0, 29, 0.2);
    box-shadow: 0 2px 16px rgba(44,62,80,0.08);
    backdrop-filter: blur(6px);
}

#topbar span {
    flex: 1;
    text-align: left;
    padding-left: 30px;
}

#topbar nav {
    display: flex;
    align-items: center;
    position: relative;
}

#menu-toggle {
    background: #242423;
    color: #ffffff;
    border: none;
    font-size: 1.5em;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 6px;
    margin-right: 30px;
    transition: background 0.2s;
}

#menu-toggle:hover {
    background: #333533;
}

.menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 2.65em;
    right: 0em;
    background: #242423;
    min-width: 200px;
    box-shadow: 0 4px 16px rgba(44,62,80,0.2);
    z-index: 1001;
    padding: 0;
}

.menu.open {
    display: flex;
}

.menu li {
    list-style: none;
    border-bottom: 1px solid #000000;
}

.menu li:last-child {
    border-bottom: none;
}

.menu a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 15px 20px;
    transition: background 0.2s;
}

.menu a:hover {
    background: #333533;
}

.section-zoom {
    animation: zoomSection 0.6s cubic-bezier(0.4, 0.8, 0.2, 1);
    z-index: 10;
}

@keyframes zoomSection {
    0% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}



